use flake

# gateway
export IBKR_IB_GATEWAY_USERNAME=$(gopass show ibkr/live_user_id)
export IBKR_IB_GATEWAY_PASSWORD=$(gopass show ibkr/live_user_pass)

# mcp server
export IBKR_GATEWAY_MODE=external
export IBKR_IB_GATEWAY_HOST=localhost
export IBKR_IB_GATEWAY_PORT=8888
